<%inherit file="layout.html" />

<%def name="style()">
<link href="/css/pygments.css" rel="stylesheet">
</%def>

<%block name="breadcrumbs">
<li><a href="/runs">Runs</a> <span class="divider">|</span></li>
<li><a href="/runs/${run_id}">${run_id}</a> <span class="divider">|</span></li>
<li><a href="/runs/${run_id}/files">Files</a> <span class="divider">|</span></li>
<li class="active">${filename|self.display_filename}</li>
</%block>

<div class="row-fluid">
  <div id="content" class="span12">
    ${styled_body}
  </div>
</div>
