<%inherit file="layout.html" />

## provide definitions for blocks we want to redefine
<%def name="title()">
    Welcome to Pecan!
</%def>

## now define the body of the template
    <div id="sidebar" class="pure-u-1-3">
        <h1><img src="/images/logo.png" /></h1>
    </div>

    <div id="content" class="pure-u-2-3">

        <p>This is a sample Pecan project.</p>

        <p>
            Instructions for getting started can be found online at <a
            href="http://pecanpy.org" target="window">pecanpy.org</a>
        </p>

        <p>
            ...or you can search the documentation here:
        </p>

        <form method="POST" action="/" class="pure-form">
          <fieldset>
            <legend>Search Docs</legend>
            <input name="q" />
            <button type="submit" class="pure-button primary-button">Search</button>
          </fieldset>
          <small>Enter search terms or a module, class or function name.</small>
        </form>

    </div>
