<%inherit file="layout.html" />

<div class="row-fluid">
  <div id="sidebar" class="span2">
    <img src="/images/logo.png" />
  </div>
  <div id="content" class="span10">
    <p>This is a sample Pecan project.</p>
    
    <p>
      Instructions for getting started can be found online
            at <a href="http://pecanpy.org"
            target="window">pecanpy.org</a>
    </p>

    <p>
      ...or you can search the documentation here:
    </p>

    <form method="POST" action="/" class="pure-form">
      <fieldset>
        <legend>Search Docs</legend>
        <input name="q" />
        <button type="submit" class="pure-button primary-button">Search</button>
      </fieldset>
      <small>Enter search terms or a module, class or function name.</small>
    </form>
  </div>
</div>
