<html>
    <head>
        <title>${self.title()}</title>
        ${self.style()}
        ${self.javascript()}
    </head>
    <body class="pure-skin-smiley">
<div class="pure-g-r">
  <div class="header pure-u-1">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a class="pure-menu-heading" href="/">Smiley</a>
      <ul>
        <li class="pure-menu-selected"><a href="#">Runs</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="content pure-g-r">
        ${self.body()}
  </div>
</div>
    </body>
</html>

<%def name="title()">
    Default Title
</%def>

<%def name="style()">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/pure-min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/pure-smiley.css" />
</%def>

<%def name="javascript()">
    <script language="text/javascript" src="/javascript/shared.js"></script>
</%def>
