<%inherit file="run_base.html" />

<%! from pprint import pformat %>
<%! from smiley.web.syntax import syntax %>
<%! from smiley.util import get_variable_changes %>

<%def name="style()">
<link href="/css/pygments.css" rel="stylesheet">
</%def>

<%def name="vartable(vars, show_none=True)" filter="syntax">
% if vars is None:
% if show_none:
None
% endif
% else:
% for n, v in sorted(vars.items()):
${n} = ${pformat(v, width=20)}
% endfor
% endif
</%def>

<%def name="varchanges(vars)" filter="syntax">
% for n, v in vars:
${n} = ${pformat(v, width=20)}
% endfor
</%def>

<div class="row-fluid">
  <div id="content" class="span12">

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Event</th>
          <th>Filename</th>
          <th>Line</th>
          <th>Function</th>
          <th>Statement</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
<%
older = {}
%>
% for t in trace:
        <tr>
          <td>${t.event}</td>
          <td><a href="/runs/${run_id}/files/${getfileid(filename=t.filename)}">${t.filename|self.display_filename}</a></td>
% if t.line_no[0] == t.line_no[1]:
          <td>${t.line_no[0]}</td>
% else:
          <td>${t.line_no[0]} - ${t.line_no[1]}</td>
% endif
          <td>${t.func_name}</td>
          <td><div class="highlight"><pre>${getlines(t.filename, t.line_no)}</pre></div></td>

% if t.event == 'return':
          <td>${pformat(t.trace_arg, width=20) | syntax}</td>
% elif t.event == 'call':
          <td></td>
% elif not t.local_vars:
          <td></td>
% else:
          <td>${varchanges(get_variable_changes(older, t.local_vars))}</td>
<%
older = t.local_vars or {}
%>
% endif

        </tr>
% endfor        
      </tbody>
    </table>

  </div>
</div>
