<%inherit file="layout.html" />

<%! from pprint import pformat %>

<%def name="filename(fn)">
% if fn and fn.startswith(run.cwd):
    ${fn[len(run.cwd):]}
% else:
    ${fn}
% endif
</%def>

<%def name="vartable(vars)">
% if vars is None:
  &nbsp;
% else:
  <table class="table table-hover table-condensed">
  % for n, v in sorted(vars.items()):
    <tr><th>${n}</th><td><pre>${pformat(v, width=20)}</pre></td></tr>
  % endfor
  </table>
% endif
</%def>

<div class="page-header">
  <h1>Run: <small>${run_id}</small></h1>
  <table class="table">
    <tr><th>CWD</th><td>${run.cwd}</td></tr>
    <tr><th>Description</th><td>${run.description}</td></tr>
  </table>
</div>

<div class="row-fluid">
  <div id="content" class="span12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Filename</th>
          <th>Line</th>
          <th>Function</th>
          <th>Statement</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
% for t in trace:
        <tr>
          <td>${t.event}</td>
          <td>${t.filename | filename}</td>
          <td>${t.line_no}</td>
          <td>${t.func_name}</td>
          <td><pre>${getline(t.filename, t.line_no)}</pre></td>
% if t.event == 'return':
          <td>${t.trace_arg}</td>
% elif t.event == 'call':
          <td>${vartable(t.trace_arg)}</td>
% elif not t.local_vars:
          <td></td>
% else:
          <td>${vartable(t.local_vars)}</td>
% endif
        </tr>
% endfor        
      </tbody>
    </table>

  </div>
</div>
